<div class="container">
    <div class="row">
        <div class="col-md">
            <form id="signup" name="signup" method="post" action="/signup">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="type">Role</label>
                    <input type="text" name="type" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="joiningDate">Date of joining</label>
                    <input type="date" name="joiningDate" class="form-control" id="exampleInputDate" placeholder="Joining Date">
                </div>
		        <div class="form-group">
                    <label for="trelloId">Trello ID</label>
                    <input type="text" name="trelloId" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
