<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/profile" id="viewUser">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>

<button type="button" class="btn btn-primary" id="allTrainees" type="submit">
  View Trainees
</button>

<button type="button" class="btn btn-primary" id="allModules" type="submit">
  View Modules
</button>

<button type="button" class="btn btn-primary" id="allTasks" type="submit">
  View Tasks
</button>

<button type="button" class="btn btn-primary" id="allLogs" type="submit">
  View Logs
</button>

<button type="button" class="btn btn-primary" id="allStatus" type="submit">
  View Status
</button>

<button class="btn btn-primary" id="viewUser1" type="button" data-toggle="collapse" data-target="#collapseExample"
  aria-expanded="false" aria-controls="collapseExample">
  Update Profile
</button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td name="id" id="uu_id"></td>
          <td contenteditable name="name" id="uu_name"></td>
          <td contenteditable name="email" id="uu_email"></td>
          <td contenteditable name="password" id="uu_password"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-primary" id="updateUser" type="submit">
  Save Changes
  </button>
</div>
<br><br>

<li>View specific module:</li>Module id:
<input type="text" size="40" id="moduleId">
<input type="submit" value="Submit" id="submitModule"><br><br>

<li> Update module</li>Module id:
<input id="moduleId1" type="text" name="moduleId">
<input type="submit" id="updateModule" value="Update Module"><br><br>

<li> Delete module:</li>Module id:
<input id="moduleId2" type="text" name="moduleId">
<input type="submit" id="deleteModule" value="Delete Module"><br><br>

<li> Get all tasks of a module:</li>Module id:
<input id="moduleId3" type="text" name="moduleId">
<input type="submit" id="getAllTaskModule" value="Get task Module"><br><br>

<li> Add a task to a module:========yet to add==============</li>Module id: 
<input id="moduleId3" type="text" name="moduleId">
<input type="submit" id="getAllTaskModule" value="Get task Module"><br><br>

<li>View specific task:</li>Task id:
<input type="text" size="40" id="taskId">
<input type="submit" value="Submit" id="specificTask"><br><br>

<li> Delete Task:</li>Task id:
<input id="taskId1" type="text" name="taskId">
<input type="submit" id="deleteTask" value="Delete Task"><br><br>

<li>View specific log:</li>Log id:
<input type="text" size="40" id="logId">
<input type="submit" value="Submit" id="specificLog"><br><br>

<li> Delete Log:</li>Log id:
<input id="logId1" type="text" name="taskId">
<input type="submit" id="deleteLog" value="Delete Log"><br><br>

Assign Module: (still no api)
<form id="sendModule" action='/'>
  Trainee id:
  <input id="traineeId" type="text" name="traineeId">
  Module id:
  <input id="moduleId" type="text" name="moduleId">
  <input type="submit" name='submit' value="Send module">
</form>
